.action-button {
  margin-top: 20px;
  border-radius: 10px;
  border: #688aac 2px solid;
  margin-bottom: 16px;
  background-color: #1976d2;
  color: white;
  font-weight: bold;
  transition: all .1s;
}

.action-button:hover {
  background-color: #1565c0;
}

.action-button:active {
  transform: scale(.8);
}

.action-button_l {
  padding: 20px;
  font-size: 30px;
}

.action-button_m {
  padding: 10px;
  font-size: 20px;
}

.action-button_s {
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
}