.action-button {
  margin-top: 20px;
  border-radius: 10px;
  border: #44434d 4px solid;
  margin-bottom: 16px;
  background-color: #696775;
  color: white;
  font-weight: bold;
  transition: all .1s;
}

.action-button:hover {
  background-color: #696874;
}

.action-button:active {
  transform: scale(.8);
}

.action-button_l {
  padding: 20px;
  font-size: 30px;
}

.action-button_m {
  padding: 10px;
  font-size: 20px;
}

.action-button_s {
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
}

.action-button_icon {
  padding: 5px;
  font-size: 30px;
  margin: 0;
  margin-left: 10px;
}
.action-button_icon:first-child{
  margin-left: 0;
}