.page {
  height: 100%;
  background-color: gray;

}

.action-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: url(../../public/background.png);
  background-size: 500px;
  background-color: #2c3942;
  padding: 20px;
  border-radius: 8px;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  background-color: #2a2e39;
  border: #1e1d22 4px solid;
}

.text-container_loading {
  min-height: 500px;
}

.text-container:last-child {
  height: auto;
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: #c8c8c8;
}

.final-text {
  font-size: 24px;
  font-weight: bold;
  color: #c8c8c8;
}