.progress-bar-background {
    width: 100%;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    border: #1e1d22 4px solid;
    overflow: hidden;
}

.progress-bar {
    height: 105%;
    border: none;
    background: #2a2e39;
    transition: width 0.1s linear;
}